doctype 5
html
	head
		block title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel="stylesheet", href="/bootstrap/css/bootstrap-responsive.css")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(src="http://code.jquery.com/jquery-latest.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		.container
			#header.row
				img(src='/bootstrap/img/header.jpg')
			.row
				.span4
					ul(class='nav nav-list')
						li(class='nav-header') Current Season
						- if(currentUrl === '/')
							li(class='active')
								a(href='/') Current Driver Standings
						- else
							li
								a(href='/') Current Driver Standings
						- if(currentUrl === '/constructor-standings')
							li(class='active')
								a(href='/constructor-standings') Current Constructor Standings
						- else
							li
								a(href='/constructor-standings') Current Constructor Standings
						- if(currentUrl === '/current-schedule')
							li(class='active')
								a(href='/current-schedule') Current Race Schedule
						- else
							li
								a(href='/current-schedule') Current Race Schedule
				.span8
					block content