extends ../layout

block title
	title Current Constructor Standings

block content
		h1 Node F1
		h2 Current Constructor Standings
		h3= RaceData.season
		ul  
			each item in RaceData.StandingsLists[0].ConstructorStandings
				li #{item.position}.  #{item.Constructor.name} 
					b #{item.points} 
					| points