extends ../layout

block title
	title Current Race Schedule

block content
		h1 Node F1
		h2 Current Race Schedule
		h3= RaceData.season
		ul  
			each item in RaceData.Races
				- var raceDate = new Date(item.date).toDateString();
				li #{item.raceName},  #{item.Circuit.Location.locality}, #{item.Circuit.Location.country} 
					= raceDate
