extends ../layout

block title
	title Login

block content

	form(action="/loginuser", method="POST")
		label(for="username") UserName:
		input(id="username",type="text", name="username")
		label(for="password") Password:
		input(id="password",type="password", name="password")
		input(type="submit", value="Login")